[user]
	name = John Goldsmith
	email = johngoldsm1@gmail.com
[color]
	ui = true
[url "https://"]
	insteadOf = git://
[alias]
	co = checkout
	cob = checkout -b
	s = status -s
	l = log --graph --decorate --oneline --abbrev-commit
  fo = fetch origin --verbose
  rh = reset --hard
[core]
	excludesfile = /Users/jgoldsmith/.gitignore_global
	quotepath = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	template = /Users/jgoldsmith/.stCommitMsg
